.navBar{
background-color: #BF9106;
height: 7vh;
width: 100%;
}

.navContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navList{
    display: flex;
    flex-direction: row;
}

.navBrandM{
    display: inline-block;
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 2vh;
    font-size: 35px;
}

.navBrandD{
    display: none;
}

.squareM{
    display: inline-block;
    font-size: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.squareD{
    display:none;
}

.navLinkM{
 display: inline-block;
 margin-top:1.5vh;
 margin-right:4vh;
 font-size: 30px;
}

.navLinkD{
    display: none;
}

@media (min-width: 769px) {

    .navBar{
        height: 5vh;
        }

    .squareM{
        display: none;
    }

    .squareD{
        display: inline-block;
    }

    .navBrandM{
        display: none;
    }

    .navBrandD{
        display: inline-block;
        position: absolute;
        margin-top: 1vh;
        margin-left: 2vh;
    }

.navLinkM{
    display: none;
}

.navLinkD{
    display: inline-block;
    margin-top:1.5vh;
    margin-right:2vh;
}
}