.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 100vh;
}

.column{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2em;
    border: none;
    background-color: #D98E04;
    border-radius: 20%;
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
}

.part1{
    display: flex;
    align-self: flex-end;
}

@media (min-width: 769px) {


}
