.move{
    display: flex;
    justify-content: center;
}

.post{
    display:flex;
    font-size: 50px;
    justify-content: center;
    background-color: #D6D6D6;
    width: 500px;
    flex-wrap: wrap;
    height: 90vh;
    align-content: center;
}

@media (min-width: 769px) {

    .post{
    width: 1000px;
}

}
